.container {
    width: 740px;
    margin: 25px auto;
    font-family: Tahoma;
}

header {
    margin-bottom: 40px;
    text-align: center;
}

img {
    width: 100%;
}

h1 {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    color: #4876FF;
    font-size: 26px;
}

h3 {
    font-size: 22px;
    margin-bottom: 0;
}

h4 {
    margin-bottom: 0px;
    color: #4876FF;
    border-left: 2px solid #4876FF;
    padding-left: 6px;
}

.enredo {
    margin-bottom: 30px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.texto-enredo {
    margin-top: 6px;
    color: #828282;
    font-size: 18px;
    line-height: 26px;
}

.texto-temporada {
    margin-top: 6px;
    line-height: 26px;
    font-family: Arial;

}

.direitos-autorais {
    text-align: center;
    border-top: 1px solid #000000;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    font-family: Arial;
}